/www/clinik/clinik/bin/Mono.Security.dll
/www/clinik/clinik/bin/Npgsql.dll
/www/clinik/clinik/bin/clinik.dll
/www/clinik/clinik/bin/clinik.dll.mdb
/www/clinik/clinik/obj/Debug/clinik.dll
/www/clinik/clinik/obj/Debug/clinik.dll.mdb
/www/clinik/packages/Npgsql.2.2.5/Npgsql.2.2.5.nupkg
/www/clinik/packages/Npgsql.2.2.5/lib/net20/Mono.Security.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net20/Npgsql.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net20/de/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net20/es/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net20/fi/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net20/fr/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net20/ja/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net20/zh-CN/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net35/Mono.Security.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net35/Npgsql.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net35/de/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net35/es/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net35/fi/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net35/fr/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net35/ja/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net35/zh-CN/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net40/Mono.Security.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net40/Npgsql.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net40/de/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net40/es/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net40/fi/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net40/fr/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net40/ja/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net40/zh-CN/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net45/Npgsql.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net45/Mono.Security.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net45/de/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net45/es/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net45/fi/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net45/fr/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net45/ja/Npgsql.resources.dll
/www/clinik/packages/Npgsql.2.2.5/lib/net45/zh-CN/Npgsql.resources.dll
/www/clinik/postgresql_backup/qqq
