<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>نتیجه ثبت فرم</title>
    <meta name="viewport" content="width=device-width">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/bootstrap-switch.css" rel="stylesheet">
</head>
<script src="../js/jquery-1.10.2.js"></script>
<script>
    $("#fade").fadeIn(2000);
</script>
<style>
    @font-face {
        font-family: 'font-style-3';
        src: url('../fonts/28.eot');
        src: url('../fonts/28.eot') format('embedded-opentype'),
        url('../fonts/28.woff') format('woff'),
        url('../fonts/28.ttf') format('truetype'),
        url('../fonts/28.svg#font-style-3') format('svg');
    }
    body{
        background-color: #449d44;
    }
    .list_hidden_fade{
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera */
        animation: fadein 2s;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    /* Firefox */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    /* Safari and Chrome */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }​
/* Opera */
@-o-keyframes fadein {
         from { opacity: 0; }
         to   { opacity: 1; }
     }​
</style>
<script src="../js/jquery-1.10.2.js"></script>
<body id="body">
<div id="container" class="container">
    <div  class="well well-lg" style="font-family: font-style-3;margin-top: 250px;text-align: center"><h3 class="list_hidden_fade">فرم با موفقیت به ثبت رسید</h3>
        <button id="redirect" class="btn btn-primary list_hidden_fade" style="font-family: font-style-3;margin-top: 10px;">بازگشت به صفحه ی اصلی</button>
    </div>
</div>
</body>
<script>
    $("#redirect").click(function(){
        window.location.href = "http://sys-mat.mums.ac.ir:81/";
    });
</script>